@model IEnumerable<ProjectAD.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productdesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productimage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prodcategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produpdatedate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productdesc)
            </td>
            <td>
                <img src="~/Content/Products/@Html.DisplayFor(modelItem => item.productimage)" alt="Image @item.productid" height="200" width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodcategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produpdatedate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.productid }) |
                @Html.ActionLink("Details", "Details", new { id = item.productid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.productid })
            </td>
        </tr>
    }
</table>
<br />
<br />

<style>
    body {
        background: #eee;
        padding: 40px 0;
    }

    h1 {
        text-align: center;
        padding-bottom: 30px;
        font-family: Montserrat;
        font-weight: 700;
        color: #323232;
    }

    .card {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.03);
        border-right: 1px #dde0e2 solid;
        border-radius: 4px 4px 0 0;
        position: relative;
        background-color: white;
        color: #56575b;
        margin: 5px 0;
        .plan-name

    {
        padding: 13px 0;
        border-bottom: 1px #eff0f2 solid;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        color: #464c50;
        font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 1px;
    }

    .plan-description {
        padding: 15px;
        line-height: normal;
        min-height: 175px;
        font-size: 14px;
        line-height: 18px;
    }

    .plan-price sub {
        text-transform: none;
        font-size: 16px;
        bottom: 0;
    }

    .plan-price {
        color: #56575b;
        font-family: "Open sans";
        font-size: 34px;
        text-transform: uppercase;
        line-height: 50px;
    }

    sub {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    .plan-description.specs {
        min-height: 200px;
        line-height: 20px;
    }

    .plan-cta {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0 15px;
        min-height: 95px;
        &:hover a

    {
        opacity: 0.8;
        color: #fff;
        text-decoration: none;
    }

    }

    .button,
    .button-primary {
        background: #2a5bd7;
        border-radius: 8px;
        font-size: inherit;
        color: white;
        transition: background 100ms linear;
        text-decoration: none;
        line-height: normal;
        outline: none !important;
        padding: 0.6em 1em;
    }
    }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"/>
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>


@foreach (var item in Model)
{
    <div class="col-md-6 col-lg-6">
        <div class="card" >
            <div class="card-body" style="text-align:center;">
                <div class="plan-pic">
                    <img src="~/Content/Products/@Html.DisplayFor(modelItem => item.productimage)" alt="Image @item.productid" height="100%" width="100%" />
                </div>
                <div class="plan-name">
                    @Html.DisplayFor(modelItem => item.productname)
                </div>
                <div class="plan-description">
                    <div class="plan-price month">
                        @Html.DisplayFor(modelItem => item.productprice)<sub> / month</sub>
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.productdesc)</p>
                </div>
                <div class="plan-description specs">
                    @Html.DisplayFor(modelItem => item.prodcategory)
                </div>
                <div class="plan-cta">
                    @Html.ActionLink("Edit", "Edit", new { id = item.productid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.productid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.productid })
                </div>
                <div >
                    <button class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.productid}, new { style="color:white;"})</button>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
