@model ProjectAD.Models.ViewModels.Test
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Add</h2>
<h2>Create</h2>

@using (Html.BeginForm("Add","Test",FormMethod.Post))
{

    @Html.ValidationSummary(true)

<fieldset>

    <legend>EmployeeDetail</legend>

    <div class="editor-label">

        @Html.LabelFor(model => model.Id)

    </div>

    <div class="editor-field">

        @Html.EditorFor(model => model.Id)

        @Html.ValidationMessageFor(model => model.Id)

    </div>

    <div class="editor-label">

        @Html.LabelFor(model => model.Name)

    </div>

    <div class="editor-field">

        @Html.EditorFor(model => model.Name)

        @Html.ValidationMessageFor(model => model.Name)

    </div>

    <div class="editor-label">

        @Html.LabelFor(model => model.Count)

    </div>

    <div class="editor-field">

        @Html.EditorFor(model => model.Count)

        @Html.ValidationMessageFor(model => model.Count)

    </div>
    <p>

        <input type="submit" value="Create" />

    </p>

</fieldset>
}

<div>

    @Html.ActionLink("Back to List", "Index")

</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}

